:root{
    --hover-color : #2d5b79;
}

body{min-width: 1280px;}
.header{position : relative; height: 81px; text-align: center;}
.header h1 {position:absolute; left:50px; top:0;padding:14px 0 0;}
.header h1 a {display:block; width: 110px; height: 48px; color : transparent;
                background:url(../images/sp_com.png) no-repeat -300px 0;}
.nav_service{ position: absolute; right : 50px; top:0;}

.nav_main li{ display : inline-block;}
.nav_main li a{ display:block; height: 81px; padding : 0 20px; font-size:17px; color : #333; line-height: 81px;}
.nav_main li a:hover{font-weight: bold; color : var(--hover-color);}
.nav_main li a span{position:relative;}
.nav_main li a:hover span:after{content:""; position:absolute; left:0; bottom:-9px; width: 100%; height: 1px; background: var(--hover-color);}

.nav_service li { position : relative; float : left;}
.nav_service li:after{content: ""; position: absolute; left:0; top :50%; width: 1px; height: 7px; background: #ccc; transform: translateY(-50%);}
.nav_service li:first-child:after{display:none;}
.nav_service li a{display: block; height : 81px; padding: 0 10px; font-size : 12px; color : #333; line-height: 81px;}
.nav_service li:last-child a{padding-right: 0;}
.nav_service li a:hover {text-decoration: underline;}

.visual {position : relative; padding : 0 50px;}
.visual .prev, 
.visual .next{display: block; position: absolute; width:25px; height: 47px; top : 50%; transform: translate(-50%);
background: url(../images/sp_com.png) no-repeat; color : transparent;}
.visual .prev{left : 80px; background-position: -128px -60px;}
.visual .next{right : 65px; background-position: -162px -60px;}

.visual .con > div {height: 640px;}
.visual .con .slide {background: url(../images/bg_main0801.jpg) no-repeat center;}

.visual .control {position: absolute; left: 0; bottom: 55px; width : 100%; text-align: center;}
.visual .control > div {display: inline-block; position : relative; padding : 0 45px 0 0;}
.visual .control > div > div { display: inline-block; position : absolute; right : 0;}
.visual .control >div > div > a {overflow:hidden; display : inline-block; margin : 0 0 7px 0; width: 8px; height: 9px; 
    background : url(../images/sp_com.png) no-repeat; opacity: 0.5;}
.visual .control a.on{opacity: 1;}
.visual .control a.play{background-position: -108px -72px;}
.visual .control a.pause{background-position: -108px -60px;}

/* font-size : 0;은 html 코드에서 발생하는 공간을 없앨 수 있음 (display : inline-block 으로 인한 공간 발생)  */
.visual .control ul {display : inline-block; font-size:0; position : relative; top: -10px;}
.visual .control ul li {display: inline-block; padding : 0 3px;}
.visual .control li.on {background: #fff;}
.visual .control ul li a{display: block; width: 48px; height: 3px; background:rgba(255, 255, 255, 0.5);}
.visual .control a {color : transparent;}

.product a {display : block; font-size:15px; }
.product a:hover{color : var(--hover-color); font-weight: bold;}
.product a:before {content:""; display: block; width: 64px; height: 52px; 
    background : url(../images/sp_com.png) no-repeat; margin : 0 0 26px;}

.product li:nth-child(1) a::before {background-position: -3px -118px;}
.product li:nth-child(2) a::before {background-position: -72px -118px;}
.product li:nth-child(3) a::before {background-position: -148px -118px;}
.product li:nth-child(4) a::before {background-position: -219px -118px;}
.product li:nth-child(5) a::before {background-position: -292px -118px;}
.product li:nth-child(6) a::before {background-position: -364px -118px;}

.product li:nth-child(1) a:hover::before {background-position: -3px -184px;}
.product li:nth-child(2) a:hover::before {background-position: -72px -184px;}
.product li:nth-child(3) a:hover::before {background-position: -148px -184px;}
.product li:nth-child(4) a:hover::before {background-position: -219px -184px;}
.product li:nth-child(5) a:hover::before {background-position: -292px -184px;}
.product li:nth-child(6) a:hover::before {background-position: -364px -184px;}

.product ul{font-size:0; text-align: center; margin : 46px 0 41px;}
.product ul li{display: inline-block; padding :0 55px; text-align: center;}
